.footer {
  background-color: #343a40;
  color: #f8f9fa;
}

.footer-container {
  /* max-width: 1140px;
  margin: 0 auto; */
  padding: 30px 15px !important;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-col {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f9fa;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.footer-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8f9fa;
}

.footer-text {
  font-size: 1rem;
  color: #e0e0e0;
}

.footer-icon {
  color: #f8f9fa;
  margin-right: 8px;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
}

.footer-social-link {
  transition: opacity 0.3s;
}

.footer-social-link:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-col {
    max-width: 100%;
  }
}
